@model NurusMES.Data.Models.Makine

@{
    ViewData["Title"] = "GetMakine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Makine Düzenleme Sayfası</h2>
<br />

@using (Html.BeginForm("UpdateMakine", "Makine", FormMethod.Post))
{
    @Html.Label(" Makine ID ")
    <br />
    @Html.TextBoxFor(x=>x.MakineID, new { @class = "form-control", @readonly="true"})

    <br />

    @Html.Label(" Makine Adı ")
    <br />
    @Html.TextBoxFor(x=>x.MakineAdi, new { @class = "form-control"})

    <br />

    @Html.Label(" Birim Adı ")
    <br />
    @Html.DropDownListFor(x=>x.BirimID,(List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })


    <br />

    <button class="btn btn-success"> Kaydet </button>

}